.films_list {
  padding-top: 30px;
  padding-bottom: 30px;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

.films_item {
  width: 300px;
}

.films_item:not(:last-child) {
  margin-bottom: 10px;
}

.films_item_title {
  color: white;
  font-size: 20px;
  margin-top: 10px;
}

.films_btn {
  color: white;
  font-size: 50px;
  background: transparent;
  border-radius: 20%;
  border: 2px solid tomato;
  position: fixed;
  bottom: 50px;
  right: 50px;
  cursor: pointer;
}
